.env
.git
.gitignore
.vscode
src
node_modules
test
tests
*.ts
tsconfig.json
esbuild.js
eslint.config.mjs
.vscode-test.mjs
vsc-extension-quickstart.md
demo/
code-sensei-check.zip
extension.vsixmanifest.txt